{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <h1>Connexion</h1>
   
    
    <form action="{{ path('app_login') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="email" required autofocus>
        
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>
    
    <a href="{{ path('app_register') }}">Vous n'avez pas de compte? S'inscrire ici</a>
</div>
{% endblock %}
