{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Rencontres Sportives - Trouvez Votre Partenaire Idéal{% endblock %}

{% block body %}

    <h1>Rencontres Sportives - Trouvez Votre Partenaire Idéal</h1>

    

   

{% endblock %}
